*{
    margin: 0;
    padding: 0;
}
body{
    color: black;
}
.crud{
    width: 50%;
    margin: auto;
}
input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background-color: gainsboro;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 5px;
    border-radius: 3px;
}
button{
    width: 100%;
    height: 30px;
    cursor: pointer;
    background-color: orange;
}


table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th{
    text-transform: uppercase;
}
th td{
    padding: 5px;
}
